.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	box-shadow: 0 12px 24px rgba(0, 0, 0, 0.144),
		0 10px 10px rgba(0, 0, 0, 0.22);
}

.header__body {
	display: flex;
	align-items: center;
	height: 100px;
	background-color: white;
	justify-content: center;
}

.header__logo_desctop {
	flex: 0 0 13%;
	z-index: 3;
	opacity: 0.4;
}

.header__list_left {
	display: flex;
	z-index: 2;
	flex: 0 0 31.2%;
	justify-self: start;
	margin: 0;
}

.header__list_right {
	display: flex;
	z-index: 2;
	flex: 0 0 40%;
	margin: 0;
}

.header__list_left li {
	text-decoration: none;
	list-style: none;
	margin: 0 0 0 20px;
	align-self: center;
	padding-right: 10px;
}

.header__list_right li {
	text-decoration: none;
	list-style: none;
	margin: 0 0 0 20px;
	align-self: center;
	padding-right: 20px;
}

.header__burger {
	display: none;
}

@media screen and (min-width: 940px) {
	.header__logo_mobile {
		display: none;
	}

	.header__logo_desctop img {
		max-width: 100%;
	}

	.header__menu {
		display: flex;
		align-items: center;
		justify-content: space-around;
		font-family: $headerFont;
		font-size: $headersize;
		letter-spacing: 1px;
	}

	.header__link {
		display: flex;
		text-transform: uppercase;
		text-decoration: none;

		color: rgba(88, 88, 88, 0.911);
		background-image: linear-gradient(currentColor, currentColor);
		background-position: 0% 100%;
		background-repeat: no-repeat;
		background-size: 0% 1.5px;
		transition: background-size 0.6s;
	}

	.header__link:hover {
		background-size: 100% 1.5px;
		padding-bottom: 2px;
	}
}

@media screen and (max-width: 939px) {
	body.lock {
		overflow: hidden;
	}

	.header__body {
		height: 60px;
		justify-content: space-between;
		align-items: center;
		display: flex;
	}

	.header__logo_mobile {
		width: 150px;
		overflow: hidden;
		position: relative;
		z-index: 3;
		margin-left: 10px;
	}

	.header__logo_mobile img {
		max-width: 100%;
		opacity: 0.4;
	}

	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 3;
		align-self: center;
		margin-right: 10px;
	}

	.header__burger span {
		position: absolute;
		background-color: black;
		left: 0;
		top: 9px;
		width: 100%;
		height: 2px;
		transition: all 0.3s ease 0s;
		opacity: 0.4;
	}

	.header__burger:before,
	.header__burger:after {
		content: '';
		background-color: black;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
		opacity: 0.4;
	}

	.header__burger:before {
		top: 0;
	}

	.header__burger:after {
		bottom: 0;
	}

	.header__burger.active:before {
		transform: rotate(45deg);
		top: 9px;
	}

	.header__burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}

	.header__burger.active span {
		transform: scale(0);
	}

	.header__menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow-x: auto;
		background: white;
		padding: 60px 0 0 0;
		transition: all 0.5s ease 0s;
		font-family: $headerFont;
		font-size: $headerMsize;
	}

	.header__menu.active {
		top: 0;
	}

	.header__list_right,
	.header__list_left {
		display: block;
		padding: 0;
	}

	.header__list_right li,
	.header__list_left li {
		margin: 0 0 20px 20px;
	}

	.header__logo_desctop {
		display: none;
	}

	.header__link {
		text-decoration: none;
		color: rgba(88, 88, 88, 0.911);
	}
}
