.backstage {
	min-height: calc(100vh - 225px);
	margin-top: 120px;
}

#mainImage {
	display: block;
	margin: 7% auto 3% auto;
	width: 50%;
	border-radius: 8px;
	box-shadow: 0 12px 24px rgba(0, 0, 0, 0.144),
		0 10px 10px rgba(0, 0, 0, 0.22);
}

.backstageslider {
	display: flex;
	justify-content: center;
}

.backstageslider__item {
	width: 10%;
	margin: 0 1%;
	border-radius: 8px;
	box-shadow: 0 12px 24px rgba(0, 0, 0, 0.144),
		0 10px 10px rgba(0, 0, 0, 0.22);
}

/*ссылка назад*/
.link__backPortfolio {
	text-decoration: none;
	font-family: $mainFont;
	font-weight: bold;
	font-size: $linksize;
	color: $maincolor;
	margin-top: $margin-top;
	margin-left: 200px;
}

@media screen and (min-width: 479px) and (max-width: 1279px) {
	#mainImage {
		width: 75%;
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.144),
			0 5px 5px rgba(0, 0, 0, 0.22);
	}

	.backstageslider {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.backstageslider__item {
		margin-top: 5%;
		width: 30%;
	}
}

@media screen and (max-width: 480px) {
	.backstage {
		margin-top: 100px;
		margin-right: 1px;
		margin-left: 1px;
	}

	#mainImage {
		width: 90%;
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.144),
			0 5px 5px rgba(0, 0, 0, 0.22);
	}

	.backstageslider {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.backstageslider__item {
		margin-top: 5%;
		width: 45%;
	}

	/*ссылка назад*/
	.link__backPortfolio {
		font-size: $linkMsize;
		margin-top: $marginM1023-top;
	}
}
