/*контейнер отзывов*/
.feedBack__more:hover {
    color: rgb(196, 80, 80);
}

.feedBack {
    margin-top: $margin-top;
    margin-left: 10%;
    margin-right: 10%
}

.feedBack__title {
    font-family: $titleFont;
    font-size: $titlesize;
    text-align: center;
    padding: 15px 0 20px 0;
}

.feedBack__flex {
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;
}


.feedBack__block {
    display: grid;
    grid-template: 10% 90%/20% 80%;
    grid-row-gap: 20px;
    grid-column-gap: 30px;
    padding: 0px 30px 0 0px;
    margin-right: 20px;
}

.feedBack__block__name {
    font-size: $nameFBsize;
    font-weight: bold;
}

.feedBack__block__text {
    font-size: $nameFBsize;
    color: $maincolor;
    text-align: justify;
}

.feedBack__block_img {
    grid-row: 1/3;
    grid-column: 1/2;
    border-radius: 70%;
    width: 110px;
    margin-top: 15px;
}

.feedBack__more {
    float: right;
    text-decoration: none;
    color: $linkcolor;
    font-size: $linksize;
}

.feedBack__more_block {
    padding: 0 0 0 0;
    margin: 0;
}


@media only screen and (min-width: 801px) and (max-width: 1100px) {

    /*контейнер отзывов*/
    .feedBack {
        margin-top: $marginM1023-top;
        margin-left: $marginM1023-left;
        margin-right: $marginM1023-right;

    }


    .feedBack__title {
        font-size: $titleMPsize;
        text-align: center;
        padding: 20px 0 15px 0;
    }


    .feedBack__block_img {
        grid-row: 1/3;
        grid-column: 1/2;
        border-radius: 70%;
        width: 90px;
    }

    .feedBack__block__name {
        font-size: 10px;
        font-size: $nameFBPsize;

    }

    .feedBack__block__text {
        font-size: 10px;
        font-size: $nameFBPsize;
    }

    .feedBack__block {
        display: grid;
        grid-template: 10% 90%/20% 80%;
        grid-row-gap: 20px;
        grid-column-gap: 10px;
        padding: 0px 10px 0 0px;
        margin-right: 20px;
    }

    .feedBack__more {

        font-size: $linkMPsize;

    }


}

@media screen and (min-width: 479px) and (max-width: 800px) {
    .feedBack {
        margin-top: $marginM767-top;
        margin-left: $marginM767-left;
        margin-right: $marginM767-right;
    }

    .feedBack__title {
        font-size: $titleMsize;
        text-align: center;
        padding: 0px 0 15px 0;
    }

    .feedBack__flex {
        margin: 40px 0 0px;
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr/1fr;
        grid-gap: 10px;
    }

    .feedBack__block {
        display: grid;
        grid-template: 10% 90%/10% 90%;
        grid-row-gap: 0px;
        grid-column-gap: 20px;
        padding: 0px 20px 0 0px;
        margin-right: 5px;
    }

    .feedBack__block_img {
        margin-top: 15px;
        width: 60px;
    }

    .feedBack__block__name {
        padding-top: 10px;
        font-size: $nameFBMsize;
        align-self: start;
        padding-top: 0px;
        padding-bottom: 0;
        margin-left: 15px;
        margin-bottom: 0;


    }

    .feedBack__block__text {
        padding-top: 10px;
        font-size: $nameFBMsize;
        align-self: center;
        margin-left: 14px;

    }

    .feedBack__more {
        font-size: $linkMsize;

    }


}

@media screen and (max-width: 478px) {

    .feedBack {
        margin-top: $marginM478-top;
        margin-left: $marginM478-left;
        margin-right: $marginM478-right;
    }

    .feedBack__title {
        font-size: $titleMsize;
        text-align: center;
        padding: 20px 0 15px 0;
    }

    .feedBack__flex {
        margin: 0px 0 0px 0;
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr/1fr;
        grid-gap: 0px;
    }

    .feedBack__block {
        display: grid;
        grid-template: 10% 90%/10% 90%;
        grid-row-gap: 0px;
        grid-column-gap: 20px;
        padding: 0px 20px 0 0px;
        margin-right: 5px;
    }

    .feedBack__block_img {
        margin-top: 15px;
        width: 50px;
    }

    .feedBack__block__name {
        font-size: $nameFBMsize;
        align-self: start;
        padding-top: 0px;
        padding-bottom: 0;
        margin-left: 15px;
        margin-bottom: 0;
    }

    .feedBack__block__text {
        font-size: $nameFBMsize;
        align-self: center;
        margin-left: 14px;


    }

    .feedBack__more {
        font-size: $linkMsize;
    }



}