/*контейнер отзывов*/
.feedBack-page {
    margin-top: $margin-top;
    margin-left: $margin-left;
    margin-right: $margin-right;
}

.feedBack-page__title {
    font-size: $titlesize;
    text-align: center;
    padding: 50px 0 15px 0;
    font-family: $mainFont;
}


.feedBack-page__block {
    flex: 0 1 48%;
    display: grid;
    grid-template: 5% 95%/14% 86%;
    padding: 30px 10px 30px 0px;
    border-bottom: 0.5px solid rgba(48, 48, 48, 0.308);
    column-gap: 20px;
}

.feedBack-page__block__name {
    font-size: $nameFBsize;
}

.feedBack-page__block__text {
    font-size: $nameFBsize;
    align-self: center;
}

.feedBack-page__block_img {
    grid-row: 1/3;
    grid-column: 1/2;
    border-radius: 70%;
    width: 120px;
}

.feedBack-page__more {
    float: right;
    text-decoration: none;
    color: black;
}

/*ссылка назад*/
.link__feedBack {
    text-decoration: none;
    font-family: $blogFont;
    font-weight: bold;
    font-size: $linksize;
    color: black;
    margin-top: $margin-top;
}

@media screen and (max-width:939px) {

    /*контейнер отзывов*/
    .feedBack-page {
        margin-top: $marginM1023-top;
        margin-left: $marginM1023-left;
        margin-right: $marginM1023-right;
    }


    .feedBack-page__title {
        font-size: $titlesize;
        text-align: center;
        padding: 100px 0 15px 0;
    }



    .feedBack-page__block_img {
        grid-row: 1/3;
        grid-column: 1/2;
        border-radius: 70%;
        width: 70px;
    }

    .feedBack-page__block__name {
        font-size: 10px;
    }

    .feedBack-page__block__text {
        font-size: 10px;
    }

    .feedBack-page__block {
        flex: 0 1 100%;
        display: grid;
        grid-template: 10% 90%/20% 80%;
        row-gap: 10px;
    }

    /*ссылка назад*/
    .link__feedBack {
        font-size: $linkMsize;
        margin-top: $marginM1023-top;
    }
}