/*контейнер блогов
.blog img:hover {
    opacity: 0.7;
}

.blog a:hover {
    color: rgb(168, 82, 103);
}*/


.blog {
    margin-top: $margin-top;
    margin-left: $margin-left;
    margin-right: $margin-right;
}

/*заголовок блока блогов*/
.blog__title {
    text-align: center;
    font-family: $mainFont;
    font-weight: bold;
    font-size: $titlesize;
    color: $maincolor;
    margin-top: $margin-top;
}

/*текст блока*/
.blog__text {
    font-family: $blogFont;
    font-size: $textsize;
    color: $maincolor;
    text-align: center;
    margin-top: $margin-top;
    margin-bottom: $margin-top;
}

/*блоки блогов*/
.blog__blocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

/*блог*/
.blog__link {
    margin: 1%;

}

.blog__link a {
    text-decoration: none;

}

/*картинка блога*/
.blog__link_img {
    width: 100%;
}

/*заголовки блогов*/
.blog__link_caption {
    font-family: $blogFont;
    font-weight: bold;
    font-size: $titlesize;
    color: $maincolor;
    margin-top: 20px;
}

/*текст блога*/
.blog__link_text {
    font-family: $blogFont;
    font-size: $textsize;
    color: $maincolor;
}

/*ссылка на блог*/
.link__blog {
    text-decoration: none;
    font-family: $blogFont;
    font-weight: bold;
    font-size: $linksize;
    color: black;
    margin-top: $margin-top;

}

.blog__link_text a {
    text-decoration: none;
    color: rgb(41, 26, 26);
    font-weight: bold;
}

@media screen and (max-width: 939px) {

    /*контейнер блогов*/
    .blog {
        margin-top: 1%;
        margin-left: 1%;
        margin-right: 1%;
    }

    /*заголовок*/
    .blog__title {
        margin-top: 1%;
        font-size: $textM767size;
    }

    /*текст блока*/
    .blog__text {
        font-size: $textM767size;
        margin-bottom: $marginM1023-top;
    }

    /*стили блогов*/
    .blog__blocks {
        display: block;
    }

    /*картинка блога*/
    .blog__link_img {
        display: none;
        width: 80%;
        height: 80%;
        margin-top: $marginM1023-top;
        margin-left: 30px;
    }

    /*заголовки блогов*/
    .blog__link_caption {
        font-size: $titleMsize;
        display: flex;
        margin-left: 0px;
        width: 100%;
    }


    /*текст блога*/
    .blog__link_text {
        font-size: $textM767size;
    }

    /*ссылка на блог*/
    .link__blog {
        font-size: $linkMsize;
        margin-top: $marginM1023-top;
    }
}