/*контейнер*/
.sixthblog {
    margin-top: $margin-top;
    margin-left: $margin-left;
    margin-right: $margin-right;
}

/*заголовок*/
.sixthblog__title {
    text-align: center;
    font-family: $mainFont;
    font-weight: bold;
    font-size: $titlesize;
    color: $maincolor;
    margin-top: $margin-top;
    padding-top: $padding-top;
}

/*первый блок (с картинками)*/
.sixthblog__block {
    display: flex;
    flex-direction: row;
    margin-top: $margin-top;
}

/*картинка*/
.sixthblog__block_image {
    width: 50%;
}

/*текст*/
.sixthblog__text {
    text-align: center;
    font-family: $mainFont;
    font-size: $textsize;
    color: $maincolor;
    margin: 1%;
}


@media screen and (max-width: 939px) {


    /*контейнер*/
    .sixthblog {
        margin-left: $marginM1023-left;
        margin-right: $marginM1023-right;
        margin-top: $marginM1023-top;
    }

    /*заголовок*/
    .sixthblog__title {
        font-size: $titleMsize;
        margin-top: $margin-top;
        padding-top: $paddingM-top;
    }

    /*первый блок (с картинками)*/
    .sixthblog__block {
        display: flex;
        flex-direction: column;
        margin-top: $marginM1023-top;
    }

    /*картинка*/
    .sixthblog__block_image {
        width: 98%;
        margin: 1%;
    }
}

/*текст*/
@media screen and (max-width: 939px) {
    .sixthblog__text {
        font-size: $textM767size;
        margin: 1%;
        margin-top: $marginM1023-top;
    }
}