/*подключение шрифтов*/
@font-face {
	font-family: 'Playfair Display';
	src: url(/assets/fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
	font-family: 'Montserrat Light';
	src: url(/assets/fonts/Montserrat-Light.ttf);
}

@font-face {
	font-family: 'Cormorant Infant';
	src: url(/assets/fonts/CormorantInfant-SemiBold.ttf);
}

@font-face {
	font-family: 'Mak';
	src: url(/assets/fonts/Mak.otf);
}

@font-face {
	font-family: 'L&C';
	src: url(/assets/fonts/gardens.ttf);
}

@font-face {
	font-family: 'Futura';
	src: url(/assets/fonts/FuturaPT-Book.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

/*шрифт хедера*/
$headerFont: 'Montserrat Light';

/*главный шрифт*/
$mainFont: 'L&C';

/*шрифт текста слайд*/
$slaid1Font: 'Cormorant Infant';

/* шрифт блога*/
$blogFont: 'L&C';

/*Шрифт заглавия*/
$titleFont: 'Mak';

/*цвет текста на 1 слайде*/
$slaid1color: rgb(223, 221, 221);

/*размер шрифта на слайде компьютерная версия*/
$slaid1size: 1.2em;

/*размер шрифта на слайде мобильная версия*/
$slaid1Msize: 0.6em;

/*размер шрифта на слайде планшетная версия*/
$slaid1Psize: 1em;

/*межбуквенный интервал слайде компьютерная версия*/
$lettersize: 5px;
/*межбуквенный интервал слайде моб версия*/
$letterMsize: 1px;

/*цвет главного шрифта*/
$maincolor: black;

/*цвет шрифта ссылки на ютуб, ссылки на чек-лист вернуться назад блогов*/
$linkcolor: #3b3b3b;

/*размер шрифта хедера компьютерная версия*/
$headersize: 0.85em;

/*размер шрифта хедера мобильная версия*/
$headerMsize: 1em;

/*размер шрифта заголовков компьютерная версия*/
$titlesize: 25px;
/*размер шрифта заголовков планшет*/
$titleMPsize: 20px;
/*размер шрифта заголовков мобильная версия*/
$titleMsize: 16px;

/*размер шрифта в блоках компьютерная версия*/
$textsize: 18px;
/*размер шрифта в блоках мобильная версия max 1100px*/
$textM1023size: 16px;
/*размер шрифта в блоках мобильная версия max 780px*/
$textM767size: 14px;
/*размер шрифта в блоках мобильная версия max 478px*/
$textM478size: 12px;

// /*размер шрифта подписей фоток компьютерная версия*/
// $signsize: 1em;
// /*размер шрифта подписей фоток мобильная версия*/
// $signMsize: 0.9em;

/*размер шрифта ссылки на ютуб и вернуться назад на сраничках блогов компьютерная версия*/
$linksize: 1.2em;
/*размер шрифта ссылки на ютуб и вернуться назад на сраничках блогов мобильная версия*/
$linkMsize: 0.8em;
/*размер шрифта ссылки на ютуб и вернуться назад на сраничках блогов планшетная версия*/
$linkMPsize: 1em;

/*размер шрифта ссылки на чек-лист компьютерная версия*/
$linkCHsize: 1.4em;
/*размер шрифта ссылки на чек-лист мобильная версия*/
$linkCHMsize: 1em;

/*размер шрифта в отзывах компьютерная версия*/
$nameFBsize: 15px;
/*размер шрифта отзывов мобильная версия*/
$nameFBMsize: 10px;
/*размер шрифта отзывов планшетная версия*/
$nameFBPsize: 13px;

/*размер отступа слева компьютерная версия*/
$margin-left: 200px;
/*размер отступа слева мобильная версия max 1023px*/
$marginM1023-left: 30px;
/*размер отступа слева мобильная версия max-width: 767px*/
$marginM767-left: 20px;
/*размер отступа слева мобильная версия max 478px*/
$marginM478-left: 10px;

/*размер отступа справа компьютерная версия*/
$margin-right: 200px;
/*размер отступа справа мобильная версия max 1023px*/
$marginM1023-right: 30px;
/*размер отступа справа мобильная версия max-width: 767px*/
$marginM767-right: 20px;
/*размер отступа справа мобильная версия max 478px*/
$marginM478-right: 10px;

/*размер отступа вверх компьютерная версия*/
$margin-top: 50px;
/*размер отступа вверх мобильная версия max 1023px*/
$marginM1023-top: 20px;
/*размер отступа вверх мобильная версия max-width: 767px*/
$marginM767-top: 20px;
/*размер отступа вверх мобильная версия max 478px*/
$marginM478-top: 10px;

/*отступ вверх от заголовка до хедера в отдельных страничках*/
$padding-top: 70px;
$paddingM-top: 5px;
