/*контейнер*/
.fourthblog {
    margin-top: $margin-top;
    margin-left: $margin-left;
    margin-right: $margin-right;
}

/*заголовок*/
.fourthblog__title {
    text-align: center;
    font-family: $mainFont;
    font-weight: bold;
    font-size: $titlesize;
    color: $maincolor;
    margin-top: $margin-top;
    padding-top: $padding-top;
}

/*блок с картинкой и текстом*/
.fourthblog__block {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 5fr;
    grid-gap: 130px;
    margin-top: $margin-top;
}

/*картинка*/
.fourthblog__block_image {
    width: 100%;
    grid-row: 1/2;
    grid-column: 1/2;
    margin: 1%;
}


/*текст*/
.fourthblog__block_text {
    grid-row: 1/3;
    grid-column: 2/3;
    font-family: $mainFont;
    font-size: $textsize;
    color: $maincolor;
    margin: 1%;
    text-align: center;
}

/*ссылка на блог*/
.link__blog {
    text-decoration: none;
    font-family: $mainFont;
    font-weight: bold;
    font-size: $textsize;
    color: $maincolor;
    margin-top: $margin-top;
    margin-left: $margin-left;
}


@media screen and (max-width: 939px) {

    /*контейнер*/
    .fourthblog {
        margin-left: $marginM1023-left;
        margin-right: $marginM1023-right;
    }

    /*заголовок*/
    @media screen and (max-width: 939px) {
        .fourthblog__title {
            font-size: $textM767size;
            margin-top: $margin-top;
            padding-top: $paddingM-top;
        }
    }

    /*блок с картинкой и текстом*/
    .fourthblog__block {
        display: block;
    }
}

/*текст*/
@media screen and (max-width: 939px) {
    .fourthblog__block_text {
        display: block;
        width: 98%;
        font-size: $textM767size;
    }
}

/*картинка*/
@media screen and (max-width: 939px) {
    .fourthblog__block_image {
        display: block;
        width: 98%;
        margin: 1%;
    }

    /*ссылка на блог*/
    .link__blog {
        margin-left: $marginM1023-left;
    }
}