/*контейнер*/
.thirdblog {
    margin-top: $margin-top;
    margin-left: $margin-left;
    margin-right: $margin-right;
}

/*заголовок*/
.thirdblog__title {
    text-align: center;
    font-family: $mainFont;
    font-weight: bold;
    font-size: $titlesize;
    color: $maincolor;
    margin-bottom: $margin-top;
    padding-top: $padding-top;
}

/*блок картинки с текстом*/
.thirdblog__block {
    display: flex;
    flex-direction: row;
    margin-top: $margin-top;
}

/*картинка*/
.thirdblog__block_image {
    width: 35%;
    height: 35%;
}


/*текст*/
.thirdblog__block_text {
    text-align: center;
    font-family: $mainFont;
    font-size: $textsize;
    color: $maincolor;
    margin-left: $margin-left;
}


@media screen and (max-width: 939px) {

    /*контейнер*/
    .thirdblog {
        margin-left: $marginM1023-left;
        margin-right: $marginM1023-right;
        margin-top: $marginM1023-top;
    }

    /*заголовок*/
    .thirdblog__title {
        font-size: $titleMsize;
        margin-top: $marginM1023-top;
        padding-top: $paddingM-top;
    }

    /*блок картинки с текстом*/
    .thirdblog__block {
        display: flex;
        flex-direction: column;
        margin-top: $marginM1023-top;
    }

}

/*текст*/
@media screen and (max-width: 939px) {
    .thirdblog__block_text {
        display: flex;
        width: 98%;
        font-size: $textM767size;
        margin-left: 0px;
        margin-top: $marginM1023-top;
    }
}

/*картинка*/
@media screen and (max-width: 939px) {
    .thirdblog__block_image {
        display: flex;
        width: 98%;
        margin: 1%;
    }
}