.lancome {
    margin-top: $margin-top;
    margin-left: $margin-left;
    margin-right: $margin-right;

}

.lancome__title {
    text-align: center;
    font-size: $titlesize;
    font-family: $titleFont;
    padding: 0 0 25px 0;
}

.lancome__block {
    display: flex;

}

.lancome__block img {
    width: 30vw;
    height: 50%;
    margin-right: 50px;


}

.lancome_text {

    font-size: $textsize;
    font-family: $mainFont;
    color: $maincolor;
}

.lancome_text_1 {
    margin-top: 0;
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .lancome {
        margin-top: $marginM1023-top;
        margin-left: $marginM1023-left;
        margin-right: $marginM1023-right;
    }

    .lancome__title {
        margin: 40px 0 20px 0;
        text-align: center;
        font-size: $titleMPsize;
    }

    .lancome__block img {
        width: 40vw;
        margin-left: 10px;
        margin-right: 20px;

    }

    .lancome_text {
        padding: 0 10px 0 20px;
        font-size: $textM1023size;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1023px) {
    .lancome {
        margin-top: $marginM1023-top;
        margin-left: $marginM1023-left;
        margin-right: $marginM1023-right;
    }

    .lancome__title {
        margin: 0 0 20px 0;
        text-align: center;
        font-size: $titleMPsize;
    }

    .lancome__block img {
        width: 40vw;
        margin-left: 20px;
        margin-right: 20px;
        float: left;

    }

    .lancome__block {
        display: block;

    }

    .lancome_text {
        padding: 0 10px 0 20px;
        font-size: $textM1023size;

    }

}

@media screen and (min-width: 479px) and (max-width: 800px) {

    .lancome {
        margin-top: $marginM767-top;
        margin-left: $marginM767-left;
        margin-right: $marginM767-right;

    }


    .lancome__block {
        display: block;
    }

    .lancome__title {
        margin-bottom: 10px;
        margin-top: 0;
        text-align: center;
        font-size: $titleMsize;

    }

    .lancome__block img {
        width: 100%;
        margin: 0%;
    }

    .lancome_text {

        font-size: $textM767size;
    }
}

@media screen and (max-width: 478px) {

    .lancome {
        margin-top: $marginM478-top;
        margin-left: $marginM478-left;
        margin-right: $marginM478-right;
    }


    .lancome__block {
        display: block;
    }

    .lancome__title {
        margin: 0px 0 30px 0;
        text-align: center;
        font-size: $titleMsize;
        padding: 10px 0 0 0;
    }

    .lancome__block img {
        width: 100%;
        margin: 0%;
    }

    .lancome_text {
        padding-left: 0px;
        padding-right: 0px;
        font-size: $textM478size;

    }

}